form{
    box-sizing: border-box;
    justify-content: center;
    align-items:center ;
    display: grid;
    padding: 30px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif


}
input{
    margin-block: 5px;
    width: 350px;
    height: 30px;
    border: 2px solid lightblue;
}
#btn-add{
   background-color: black;
   color: white; 
   font-family: 'Montserrat', sans-serif
}
#btn-add:hover{

background-color: lightblue;
}
table{
    border: 2px solid lightblue;
    margin: auto;
    width: 300px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif
}
table tr,th{
    border: 2px solid lightblue;
   
}
.deleteBtn{
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif
}
.deleteBtn:hover{
    background-color: lightblue;
    color: white;
}
h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif
}
