 @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rajdhani:wght@300&family=Teko:wght@700&display=swap');

.landing{
    background-color: grey;
    font-family: 'Montserrat', sans-serif;
}
.categories{
    font-family:'Montserrat', sans-serif;
}
#third{
    background-image: url(https://i.postimg.cc/9FmsGQtP/nike-addidas-and-under-armor.webp);
    background-attachment: fixed;
}
#first{
    background-image: url(https://i.postimg.cc/8CGcf8J9/family-addidas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#second{
    background-image: url(https://i.postimg.cc/PfZKbYPD/adidas-fam.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.card-text{
    text-align: center;
    margin-top:20%;
  
}
#left{
    text-align: left;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
#Right{
    text-align: right;
    font-family: 'Montserrat', sans-serif;
}
#Top{
    margin-top: 10%;
    margin-left: 10%;
    font-family: 'Montserrat', sans-serif;
}

.card-body1 {
    border: white;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    background:transparent;
    top: 50%;
    align-items: center;
    left: 40%;
    color:white;
    visibility: hidden;
    opacity: 1;    
}
.girl .boy .men .ladies{
    visibility: hidden;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}
#Girls,#Women,#Boys,#Men:hover{
    cursor: pointer;
}
#Girls:hover .card-body1{
    visibility: visible;
    background-color: grey;
    opacity: 0.5;
    

}
#Men:hover .card-body1{
    visibility:visible ;
    background-color:grey;
    opacity: 0.5;
} 
#Boys:hover .card-body1{
    visibility: visible;
    background-color: grey;
    opacity: 0.5;
}
#Women:hover .card-body1{
    visibility: visible;
    background-color: grey;
    opacity: 0.5;
}
#Girls:hover{
box-shadow: 3px 1px 2px 3px black;
}
#Men:hover{
    box-shadow:3px 1px 2px 3px black; }
#Women:hover{
box-shadow: 3px 1px 2px 3px black;
}
#Boys:hover{
box-shadow: 3px 1px 2px 3px black;
}
#Brands{
    background-image: url(https://i.postimg.cc/pT970B7F/brands.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    padding: auto;
    bottom: 18px;
}
.prod{
text-align: center;
font-family: 'Montserrat', sans-serif;
visibility: hidden;
}
#Brands:hover .prod{
    visibility:visible;
    background-color: grey;
    opacity: 0.5;
    color: white;
}
#Brands:hover{
    box-shadow:3px 1px 2px 3px black ;
}
#Men{
    background-image: url(https://i.postimg.cc/xj6JrgsM/men.jpg);
    font-family:'Montserrat', sans-serif ;
    background-repeat: no-repeat;
}

#Women{
    background-image: url(https://i.postimg.cc/gjH9dqrX/female.webp);
        font-family:'Montserrat', sans-serif ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
}
#Boys{
    background-image: url(https://i.postimg.cc/9fcHvRJN/boys.jpg);
        font-family:'Montserrat', sans-serif ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
}


#Girls{
    background-image: url(https://i.postimg.cc/4NcQ6C85/girl.png);
        font-family:'Montserrat', sans-serif ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
}